h1 {
    color: red;
    display: flex;
    justify-content: center;
}

span {
    color: coral;
}

form {
    display: flex;
    justify-content: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 2em;
}

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index :hover {
    color: red;
}

label {
    
    padding-top: 2em;
}
